@model APPR6312_POE.Models.PurchasedGoods

@{
    ViewData["Title"] = "Create";
}

<style>

    #div_form {
        margin: auto;
    }
</style>

@if (ViewBag.Error != null)
{
    <script type="text/javascript">
        window.onload = function() {
            alert("@ViewBag.Error");
        };
    </script>
}
<br />
<center>
    
<h1>Purchase Goods</h1>
<hr />
<div class="row">
    <div id="div_form" class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="date" class="control-label"></label>
                <input asp-for="date" class="form-control" />
                <span asp-validation-for="date" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="numItems" class="control-label"></label>
                <input asp-for="numItems" class="form-control" />
                <span asp-validation-for="numItems" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="category" class="control-label"></label>
                <input asp-for="category" class="form-control" />
                <span asp-validation-for="category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="name" class="control-label "></label>
                <input asp-for="name" class="form-control " />
                <span asp-validation-for="name" class="text-danger" hidden></span>
            </div>
            <div class="form-group">
                <label asp-for="price" class="control-label"></label>
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" asp-action="Index" value="Back" class="btn btn-primary" />
                <input type="submit" value="Purchase Item" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
</center>


