@model IEnumerable<APPR6312_POE.Models.Users>
@{
    ViewData["Title"] = "Home Page";
}

<style>
    #rcorners2 {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px; 
  width: 200px;
  height: 150px;  
}

#div1_form {
    margin: auto;
}
</style>


<br />
    <center>
    <a asp-controller="MonetaryDonations" asp-action="Index">
    <div class="card border-secondary mb-3" style="max-width: 20rem;max-height: 20rem;">
  <div class="card-header">Click to View</div>
  <div class="card-body">
    <h4 class="card-title">Monetary Donations</h4>
    <p class="card-text">View current donations or make a monetary donation.</p>
  </div>
  </div>
  </a>
  </center>
  <center>
  <a asp-controller="GoodsDonations" asp-action="Index">
    <div class="card border-secondary mb-3" style="max-width: 20rem; max-height: 20rem; margin:auto">
  <div  class="card-header">Click to View</div>
  <div  class="card-body">
    <h4 class="card-title">Goods Donations</h4>
    <p class="card-text">View current good donations or make a goods donation.</p>
  </div>
  </div>
  </a>
  </center>
  <center>
  <a asp-controller="Disasters" asp-action="Index">
    <div class="card border-secondary mb-3" style="max-width: 20rem;max-height: 20rem;">
  <div class="card-header">Click to View</div>
  <div class="card-body">
    <h4 class="card-title">Disasters</h4>
    <p class="card-text">View current disaster or submit a current disaster.</p>
  </div>
  </div>
  </a>
  </center>
  <center>
  <a asp-controller="Inventories" asp-action="Index">
    <div class="card border-secondary mb-3" style="max-width: 20rem; max-height: 20rem; margin:auto">
  <div  class="card-header">Click to View</div>
  <div  class="card-body">
    <h4 class="card-title">Goods Inventory</h4>
    <p class="card-text">View current good inventory or make a goods purchase.</p>
  </div>
  </div>
  </a>

  </center>
  <center>
  <a asp-controller="PurchasedGoods" asp-action="Index">
    <div class="card border-secondary mb-3" style="max-width: 20rem; max-height: 20rem; margin:auto">
  <div  class="card-header">Click to View</div>
  <div  class="card-body">
    <h4 class="card-title">Purchase Goods</h4>
    <p class="card-text">View current good inventory or make a goods purchase.</p>
  </div>
  </div>
  </a>
  </center>


