@model APPR6312_POE.Models.Users

@{
    ViewData["Title"] = "Edit";
}
<style>
#div_form{
    margin: auto;
}
</style>

<center>
<h1>Edit User Information</h1>
</center>

<hr />
<div class="row">
    <div id="div_form" class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="email" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label" hidden></label>
                <input asp-for="password" class="form-control" hidden />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
         
            <div class="form-group">
                <label asp-for="CellNumber" class="control-label"></label>
                <input asp-for="CellNumber" class="form-control" />
                <span asp-validation-for="CellNumber" class="text-danger"></span>
            </div>
            <br />
            <center>
            <div class="form-group">
                <input type="submit" asp-controller="Users" asp-action="Index" value="Back" class="btn btn-primary" />
                <input type="submit" value="Save" class="btn btn-primary" />             
            </div>
           
            </center>
        </form>
    </div>
</div>

