@model IEnumerable<APPR6312_POE.Models.Users>
@{
    ViewData["Title"] = "Public";
}

<h1>Public</h1>

<h4>Total amount donated: R @ViewBag.MonetaryTotal</h4>
<h4>Total amount remaining: R @ViewBag.MonetarySum</h4>
<h4>Total number of goods recieved: R @ViewBag.TotalGoods</h4>



